---
import {Astro} from "astro/env";
interface Props {
    bg: string;
    bgHover: string;
    href: string;
    name: string;
}

const { bg, bgHover, href, name } = Astro.props;
---
<li class:list={[
    "text-white hover:text-black hover:underline focus:outline-none",
    "text-sm font-medium text-center",
    "rounded-full px-5 py-2.5 mb-2",
    "bg-",{bg},
    "hover:bg-",{bgHover},
]}><a href={href}>{name}</a></li>